# Build directories
build/
build_wasm/
build_wasm_*/
bin/
out/
.ninja_*
CMakeCache.txt
CMakeFiles/
cmake_install.cmake

# Emscripten and Tools
emsdk/
tools/
*.zip

# Node
node_modules/
npm-debug.log

# IDE & OS
.vscode/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates
.DS_Store
Thumbs.db
